{% extends 'base.html.twig' %}

{% block title %}Voir - Proprietaire{% endblock %}

{% block body %}
    <h1>Voir le proprietaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proprietaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ proprietaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ proprietaire.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ proprietaire.mail }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ proprietaire.tel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ proprietaire.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_proprietaire_index') }}">Retour</a>

    <a href="{{ path('app_admin_proprietaire_edit', {'id': proprietaire.id}) }}">Modifier</a>

    {{ include('admin_proprietaire/_delete_form.html.twig') }}
{% endblock %}
